html,
body {
    font-family: "Dongle", sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    box-sizing: border-box;
}



/* Home Page Styling */
.homeMain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.home {
    width: 100%;
    position: relative;
    color: whitesmoke;
    z-index: 5;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.homeImg {
    min-width: 40%;
    border-radius: 4px;
    background-image: url(../public/images/pfp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    border-left: 1px solid white;
}

.homeAbout {
    max-width: 60%;
    padding: 2.5rem;
    text-shadow: 4px 4px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 1.5rem;
}

.homeAbout h1 {
    font-size: 2.5rem;
}

.homeAbout h1 span {
    font-size: 4rem;
    font-weight: bolder;
}

.homeAbout h3 {
    font-size: 2rem;
    color: black;
    background: linear-gradient(to bottom right, rgba(126, 26, 247, 0.8), rgba(41, 116, 221, 0.8));
    text-shadow: none;
    box-shadow: 4px 4px 8px black;
    padding: 1rem;
    border-radius: 1rem;
}

.homeAbout button {
    font-size: 1.5rem;
    /* color: white; */
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(126, 26, 247, 0.8), rgba(41, 116, 221, 0.8));
    box-shadow: 4px 4px 8px black;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.buttonLink {
    text-decoration: none;
    color: white;
}

.homeAbout button:hover {
    transform: translate(-4px, -4px);
    box-shadow: 0 0 24px rgba(126, 26, 247, 0.8);
}

.scroller {
    width: 100%;
    z-index: 5;
    background-color: whitesmoke;
    color: black;
}

@media (max-width: 999px) {
    .homeMain {
        flex-direction: column-reverse;
    }

    .home {
        flex-direction: column;
    }

    .homeAbout {
        font-size: 1.2rem;
        max-width: 95%;
        padding: 1rem;
        gap: 1.5rem;
    }

    .homeAbout h1 span {
        font-size: 3rem;
    }

    .homeAbout h3 {
        font-size: 1.5rem;
        padding: 8px;
        color: whitesmoke;
    }

    .homeAbout button {
        font-size: 1rem;
        padding: 8px;
    }

    .homeImg {
        max-height: 80vh;
        background-size: cover;
        border-left: none;
    }
}


/* About Page styling */
.aboutMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.about {
    width: 100%;
    position: relative;
    color: whitesmoke;
    z-index: 5;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutHead {
    width: 100%;
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.aboutHead h1 {
    text-shadow: 4px 4px 4px rgb(61, 61, 61);
    font-size: 4rem;
}

.aboutContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutDesc {
    padding: 1rem;
    width: 45%;
    text-shadow: 4px 4px 4px black;
}

.aboutDesc h3 {
    width: fit-content;
    font-size: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.aboutSkills {
    width: 50%;
    margin-right: 5%;
    min-height: 50vh;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.aboutDesc span {
    width: 100%;
    text-shadow: none;
    display: flex;
    justify-content: center;
}

.aboutDesc h2 {
    width: fit-content;
    flex-grow: inherit;
    font-size: 2rem;
    color: black;
    background: linear-gradient(to bottom right, rgba(126, 26, 247, 0.8), rgba(41, 116, 221, 0.8));
    box-shadow: 4px 4px 8px black;
    padding: 1rem;
    border-radius: 1rem;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

@media (max-width: 999px) {
    .aboutMain {
        flex-direction: column-reverse;
        padding-bottom: 48px;
    }

    .aboutHead h1 {
        font-size: 2rem;
    }
}